
html


    head

   
    body
       
      h1 Login

      form(action='/api/login', method='post')
        input(type='text', name='nombre', placeholder='username')
        
        input(type='submit', value='Login')
        

    script.
      
